
@{
    ViewBag.Title = "Manage Appointment";
}


<nav class="navbar navbar-expand-sm navbar-toggleable-sm">
    <div class="container">
        <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">

            <h2 class="nav navbar-nav navbar-left">@ViewBag.Title</h2>

            <ul class="nav navbar-nav navbar-right">
                <li>@Html.ActionLink("Add Appointment", "ClinicList", "Appointment", new { area = "" }, new { @class = "nav-link" })</li>
            </ul>
        </div>
    </div>
</nav>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Clinic Name</th>
            <th scope="col">Assigned Agent</th>
            <th scope="col">Date</th>
            <th scope="col">Time</th>
            <th scope="col">Tax Year</th>
            <th scope="col">Language</th>
            <th scope="col">Family Type</th>
            <th scope="col">Meeting Type</th>
            <th scope="col">Cancel</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Appointments)
        {
            <tr>
                <td scope="row"> </td>
                <td>@item.clinicName </td>
                <td>@item.userFullName</td>
                <td>@item.appointmentContactDate</td>
                <td>@item.appointmentContactTimeStart - @item.appointmentContactTimeEnd</td>
                <td>@item.clinicTaxYearId </td>
                <td>@item.clinicLanguageId </td>
                <td>@item.clinicFamilyTypeId </td>
                <td>@item.clinicMeetingTypeId </td>
                @if (item.appointmentStatus != 9)
                {

                    <td>@Html.ActionLink("Cancel Appointment", "AppointmentCancel", "Account", new { area = "", id = item.appointmentId }, new { @class = "nav-link" })</td>
                }
                
                else if (item.appointmentStatus == 9)
                {
                    <td>Cancelled</td>
                }


            </tr>
        }
    </tbody>
</table>